div{
    height: 100vh;
    background:rgb(0, 0, 0,.7);
    color:#fff;
    line-height: 100vh;
    text-align: center;
    font-size: 20vh;
}
.a-img1{
    background-image: url('./asset/yama.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.a-img2{
    background-image: url('./asset/redSun.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.a-img3{
    background-image: url('./asset/seabeach.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}